body {
	font-size: 18px;
}
form {
	width: 800px;
	margin: auto;
	text-align: center;
	margin-bottom: 200px;
}
#timer {
	position: fixed;
	right: 10px;
	margin: 0;
}
form p {
	display: inline;
	margin-right: 15px;
}
input[type="text"] {
	border: 1px solid black;
	color: black;
	font-weight: bold;
}
button {
	cursor: pointer;
	display:block;
	width: 100px;
	margin: auto;
	margin-top: 10px;
}
